*{
    margin: 0;
    box-sizing: border-box;
}
.center{
    display: grid;
    place-items: center;
}
.navigation{
    background-color: red;
    color: white;
    height: 70px;
}

.main{
    background-color: green;
    color: white;
    flex-grow: 1;
}

.sidebar{
    min-width: 320px;
    background-color: yellow;
}

.main_container{
    height: calc(100vh - 140px);
    display: flex;
}

.footer{
    height: 80vh;
    background-color: sienna;
    color: white;
}